step-two {
    #rey {
        //width: 900px;
        //height: 700px;
        //
        ////padding: 40px 60px;
        //background-color: white;


        font-size: 50px;
        background-image: url("~img/rey.png");
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: cover;
        > p {
            margin-top: 20px;
        }
        .footnote {
            font-size: 25px;
            left: 400px;
            position: absolute;
            bottom: 40px;
        }
    }
}
