step-three {
    #tiny {
        width: 500px;
        height: 165px;
        text-align: center;
        background-image: url("~img/puerto-rico-map-outline-silhouette.png");
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: 100%;

        .rey {
            background-image: url("~img/rey.jpg");
            background-position: bottom left;
            background-repeat: no-repeat;
            background-size: 65px;
            width: 100px;
            height: 100px;
        }

    }
}
