<!doctype html>
<html xmlns:ng="http://angularjs.org" id="ng-app" lang="en" ng-strict-di>
<head>

    <meta charset="utf-8">
    <base href="<%= htmlWebpackPlugin.options.baseUrl %>" />
    <title>Me Myself and I</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <script src="https://use.fontawesome.com/b760b614d6.js"></script>

</head>

<body class="impress-not-supported">
<!--
    For example this fallback message is only visible when there is `impress-not-supported` class on body.
-->
<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>
<div ui-view></div>
</body>
</html>
